.pubmedtitle {font-weight:bold;font-size:110%;}
.pubmedabstract {color:black;font-size:85%; }
.pubmedarticle {color:black; background-color:rgb(240,240,240);margin:30px;padding:30px;}
.citeentrezajax { padding:10px; font-size:50%;}
.output {font-size:200%;background-color:rgb(240,240,240);color:black;}
